body {
  display: flex;
  flex-direction: row;
   background: url(finalDestination.jpg);
   background-size: 1450px;
   font-family: ordinary;
   color: lightblue;
}

body div {
  text-align: center;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
}

#axela-submit{

}

@font-face {
  font-family: ordinary;
  src: url(Ordinary.ttf);
}
